@charset "UTF-8";

/* Fonts */

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/400/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/400/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/400/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/700/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/700/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/700/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/900/vietnamese.woff2") format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/900/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Archivo";
  font-style: normal;
  font-weight: 900;
  font-stretch: 100%;
  font-display: swap;
  src: url("../files/fonts/Archivo/900/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Outfit/700/latin-ext.woff2") format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../files/fonts/Outfit/700/latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Normalize */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

picture,
img {
  height: auto;
  max-width: 100%;
  vertical-align: top;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: 700;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

/* Mixins */

/* Максимальная ширина контейнера с контентом */

/* Media screen */

/* ui */

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

main.main {
  flex: 1;
}

body {
  background-color: #212371;
  color: #fff;
  font-family: "Archivo", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
}

body._lock {
  overflow: hidden;
  /*
  @include media-min-992 {
  	margin-right: 8px;

  	.header__wrapper {
  		left: 0;
  		margin-right: 8px;
  		padding-right: 8px;
  	}
  }
  */
}

body p:not(:last-child) {
  margin-bottom: 16px;
}

body p strong {
  font-weight: 700;
}

/*
.page__head {
	padding-top: 144px;

	@include media-max-1200 {
		padding-top: 120px;
	}
	@include media-max-575 {
		padding-top: 68px;
	}

	.page__block {

		&-go-back-to-mome {
			align-items: center;
			display: flex;
			padding-bottom: 21px;

			@include media-max-575 {
				display: none;
			}

			img,
			svg {
				margin-right: 4px;
			}

			a {
				color: #8C90CA;
			}
		}
	}

	&-wrap-title {
		align-items: center;
		display: flex;
		justify-content: space-between;

		.page__title {
			margin-right: 25px;
		}
	}
}
*/

/*
.breadcrumbs {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 12px;
	margin-top: 12px;
	position: relative;
	z-index: 3;

	@include media-max-800 {
		margin-bottom: 22px;
		margin-top: -1px;
		width: 100%;
	}

	&__item {
		list-style: none;
		position: relative;

		&:not(:last-child) {

			&::after {
				bottom: 1px;
				color: #000;
				content: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='5' height='8' viewBox='0 0 5 8' fill='none'%3e%3cpath d='M1 1L4 4L1 7' stroke='black' stroke-opacity='0.5'/%3e%3c/svg%3e");
				display: inline-block;
				left: 0;
				margin: 0 16px;
				position: relative;
				top: -2px;
				width: 8px;

				@include media-max-800 {
					margin: 0 20px;
					top: -1px;
				}
			}
		}
	}
	&__link {
		color: rgba(0, 0, 0, 0.50);

		@media (any-hover: hover) {

			&:hover {
				color: #000 !important;
			}
		}
	}
	&__name {
		color: #000;
		margin-left: 15px;

		@include media-max-800 {
			margin-left: -3px;
		}
	}
}
*/

.n_container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1736px;
  padding-left: 25px;
  padding-right: 25px;
}

/*
.n_text-above-sec-title {
	font-size: 14.6px;
	font-weight: 500;
	line-height: 26px;
	letter-spacing: 0.01em;
	text-transform: uppercase;
}
*/

/*
.n_sec-title {
	color: #202020;
	display: table;
	font-size: 30px;
	line-height: 25.5px;
	letter-spacing: 0.3px;

	@include media-max-575 {
		font-size: 23px;
		line-height: 19.55px;
		letter-spacing: 0.23px;
	}

	&::after {
		background-color: #202020;
		content: '';
		display: block;
		height: 2px;
		margin-top: 2px;
		width: 100%;
	}
}
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/*
.page__title {
	font-size: 32px;
	line-height: 44px;
	margin: 0;
}
*/

.n_object-fit {
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

/*
.block-slider {

	&__pagination {
		padding-bottom: 13px;
		position: relative;
		text-align: right;
		z-index: 1;

		@include media-max-660 {
			padding-bottom: 0;
		}

		.block-slider__number-slides-zero,
		.swiper-pagination-total {
			color: #BBBBBB;
			font-family: "Bebas Neue Cyrillic", Arial, Helvetica, sans-serif;
			@include adaptive-value("font-size", 27, 18, 1);
			@include adaptive-value("line-height", 27, 18, 1);
			font-weight: 400;
			user-select: none;
		}
	}
	&__number-current-zero,
	&__pagination .swiper-pagination-current,
	&__slash {
		font-family: "Bebas Neue Cyrillic", Arial, Helvetica, sans-serif;
		font-style: normal;
		font-weight: 400;
		@include adaptive-value("font-size", 48, 23, 1);
		@include adaptive-value("line-height", 48, 23, 1);
		user-select: none;
	}
	&__slash {
		color: #BBBBBB;
	}
	&__wrap-arrow {
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding-bottom: 32px;
		position: relative;
		z-index: 10;

		@include media-max-660 {
			padding-bottom: 12px;
		}

		.swiper-button-next,
		.swiper-button-prev {
			color: inherit;
			cursor: pointer;
			height: auto;
			margin-top: 0;
			position: relative;
			user-select: none;
			width: auto;
			z-index: 5;

			svg {
				user-select: none;
			}
		}
		.swiper-button-prev:after,
		.swiper-button-next:after,
		.swiper-button-prev:after,
		.swiper-button-next:after {
			display: none;
			font-size: 0;
			overflow: hidden;
		}
	}

	&__sw-btn-prev,
	&__sw-btn-next {
		transition: color 0.3s ease 0s;

		&:hover {
			color: #8bc53e;
		}

		span {
			color: inherit;
			cursor: pointer;
			font-size: 11px;
			line-height: 19px;
		}
	}
	&__sw-btn-prev {
		margin-right: 65px;

		@include media-max-660 {
			margin-right: 45px;
		}

		span {
			margin-left: 12px;

			@include media-max-660 {
				margin-left: 8px;
			}
		}
	}
	&__sw-btn-next {

		span {
			margin-right: 12px;

			@include media-max-660 {
				margin-right: 9px;
			}
		}
	}
}
*/

/*
#back-to-top {
	background-color: #fff;
	box-shadow: 0px 9px 25px rgba(0, 0, 0, 0.14);
	border-radius: 14px;
   bottom: 80px;
	display: flex;
	justify-content: center;
	height: 105px;
	position: fixed;
	right: 62px;
   transition: opacity 0.3s ease 0s;
	//top: -251px;
	width: 82px;
    z-index: 100;

   @include media-min-1501 {
      right: 50%;
      transform: translateX(660px);
   }

	@include media-max-1024 {
		right: 30px;
	}
	@include media-max-991 {
		border-radius: 8px;
      bottom: 120px;
		height: 75px;
		//top: -150px;
		width: 55px;
	}
   @include media-max-720 {
      bottom: 110px;
		right: 25px;
	}
	@include media-max-660 {
		border-radius: 4px;
		height: 50px;
		//top: -100px;
		width: 42px;
	}

   &.hidden {
      opacity: 0;
   }

	svg {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		top: 33%;

		@include media-max-660 {
			top: 25%;
		}
	}

	span {
		font-family: Helvetica, sans-serif;
		font-size: 12px;
		font-weight: 400;
		line-height: 17px;
		margin: auto 5px 20px;
		margin-top: auto;
		text-align: center;

		@include media-max-991 {
			font-size: 10px;
			line-height: 15px;
			margin-bottom: 8px;
		}
		@include media-max-660 {
			font-size: 8px;
			line-height: 13px;
			margin-bottom: 3px;
		}
	}
}
*/

/*
.n_btn {
	align-items: center;
	background-color: #000;
	color: #fff;
	cursor: pointer;
	display: table;
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
	min-width: 170px;
	padding: 18.5px 15px;
	transition: all 0.3s ease 0s;
	text-align: center;

	@media (any-hover: hover) {

		&:hover {
			//background-color: darken(#000, 8%);
			color: #fff !important;
		}
	}
}
*/

/*
.resent-posts__wrap-tegs a {
	background-color: rgba(144, 145, 156, 0.15);
	border-radius: 5px;
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
	padding: 5px 18px;

	&:not(:last-child) {
		margin-right: 8px;
	}
}
*/

/*
.insights {

	&__progresBars {
		margin-top: 22px;

		@include media-max-720 {
			margin-bottom: 27px;
		}
	}
	&__progresBar {
      margin-bottom: 30px;

		@include media-max-720 {
			margin-bottom: 24px;
		}

		&.width-zero {

			.insights__progresBarFilling {
         	width: 0 !important;
			}

         .insights__progresBarPercent {
            opacity: 0;
         }
      }
	}
	&__wrap-title {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&.width-zero {

         .insights__progresBarPercent {
            opacity: 0;
         }
      }
	}
	&__progresBarName {
		font-size: 16.8px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.025em;
		margin: 0 0 7px;

		@include media-max-720 {
			font-size: 14px;
      	line-height: 18px;
		}
	}
	&__progresBarWrapFilling {
		background: rgba(144, 145, 156, 0.15);
      border-radius: 4px;
      height: 8px;
		font-size: 0;
	}
	&__progresBarFilling {
      background: linear-gradient(90deg, #D80A2D 0%, #7544DD 100%);
      border-radius: inherit;
      height: inherit;
      position: relative;
      transition: 3s;
	}
	&__progresBarPercent {
		font-size: 15.6px !important;
		font-weight: 600;
		line-height: 26px !important;
		text-align: right;
		letter-spacing: 0.015em;
      opacity: 1;
		margin-left: 15px;
      position: relative;
      transition: 0.3s;
      transition-delay: 0.3s;

		@include media-max-720 {
			font-size: 13px !important;
			line-height: 23px !important;
		}
	}
}
*/

/*.block {

   &__item {
		border: 1px solid #ccc;

		&:not(:last-child) {
			margin-bottom: 30px;
		}
   }

	&__text {
		overflow: hidden;
		padding: 0 29px 35px;

		ol,
		ul {
			margin-top: 35px;

			li {
				@include adaptive-value("font-size", 20, 19, 1);
				@include adaptive-value("line-height", 30, 29, 1);
				padding-left: 46px;
				position: relative;

				&:not(:last-child) {
					margin-bottom: 12px;
				}

				&::before {
					content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M30.7071 8.70711C31.0976 8.31658 31.0976 7.68342 30.7071 7.29289L24.3431 0.928932C23.9526 0.538408 23.3195 0.538408 22.9289 0.928932C22.5384 1.31946 22.5384 1.95262 22.9289 2.34315L28.5858 8L22.9289 13.6569C22.5384 14.0474 22.5384 14.6805 22.9289 15.0711C23.3195 15.4616 23.9526 15.4616 24.3431 15.0711L30.7071 8.70711ZM0 9H30V7H0V9Z' fill='%2321C677'/%3e%3c/svg%3e");
					margin-right: 15px;
					left: 0;
					position: absolute;
					top: 1px;
				}
			}
		}

		p {
			font-size: 18px;
			line-height: 27px;

			&:first-child {
				margin-top: 29px;
			}

			&:not(:last-child) {
				margin-bottom: 18px;
			}
		}
	}

	&__title {
		background: none;
		display: flex;
		justify-content: space-between;
		font-family: 'Prosto One';
		@include adaptive-value("font-size", 26, 20, 1);
		font-weight: 400;
      @include adaptive-value("line-height", 34, 26, 1);
		padding: 22px 28px;
		position: relative;
		text-align: left;
		width: 100%;

		&::after {
			background-color: #000;
			bottom: 0;
			content: "";
			display: block;
			height: 1px;
			left: 29px;
			opacity: 0;
			position: absolute;
			right: 29px;
			transition: 0.3s;
			width: auto;
		}

		@media (any-hover: hover) {
			&:hover {
				cursor: pointer;
			}
		}

		&._active {

			.block__title-cross {
				border-color: #21C677;

				&:before {
					background-color: #21C677;
				}
				&::after {
					height: 0;
				}
			}

			&::after {
				opacity: 1;
			}
		}

		&-cross {
			border: 1.5px solid #000;
			border-radius: 50%;
			display: block;
			height: 30px;
			font-size: 0;
			margin-left: 12px;
			position: relative;
			transition: 0.3s;
			top: 2px;
			min-width: 30px;

			&::before,
			&::after {
				background-color: #000;
				content: "";
				position: absolute;
				transition: 0.3s;
				width: 14px;
			}
			&::before {
				left: 50%;
				height: 1.5px;
				transform: translate(-50%, -50%);
				top: 50%;
				width: 14px;
			}
			&::after {
				left: 50%;
				height: 14px;
				transform: translate(-50%, -50%);
				top: 50%;
				width: 1.5px;
			}
		}
	}
}*/

/*
.custom-checkbox {
	display: block;
	margin-bottom: 1em;
	padding-left: 24px;
	position: relative;
	user-select: none;
}
.custom-checkbox__input {*/

/*clip: rect(0 0 0 0);*/

/*height: 1px;
	position: absolute;
	overflow: hidden;
	width: 1px;
}
.custom-checkbox__box {
	background-color: #fff;
	border: 1px solid #000;
	height: 15px;
	margin-left: -24px;
	margin-top: 1px;
	position: absolute;
	top: 3px;
	width: 15px;
}*/

/* Checked */

/*
.custom-checkbox__input:checked + .custom-checkbox__box {
	background-color: #D01F1F;
	border: 1px solid #D01F1F;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg version='1.0' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1280.000000 1253.000000' preserveAspectRatio='xMidYMid meet'%3e%3cg transform='translate(0.000000,1253.000000) scale(0.100000,-0.100000)' fill='%23fff' stroke='none'%3e%3cpath d='M12000 12520 c-192 -27 -395 -98 -655 -230 -446 -225 -961 -590 -1620 -1149 -926 -785 -2158 -2000 -3466 -3416 -661 -717 -1389 -1537 -1913 -2157 -87 -104 -159 -188 -160 -188 -1 0 -67 34 -146 76 -255 134 -875 442 -1078 536 -849 391 -1441 595 -1912 659 -134 18 -368 13 -479 -10 -224 -48 -405 -181 -495 -366 -52 -104 -69 -183 -70 -310 -1 -105 1 -113 32 -177 29 -59 55 -87 235 -254 438 -407 919 -904 1273 -1315 792 -921 1625 -2167 2579 -3858 168 -297 234 -355 405 -355 66 0 96 5 132 21 113 51 158 111 238 313 135 341 398 964 565 1335 1285 2866 2820 5295 4654 7365 520 587 971 1049 1821 1866 665 640 790 788 844 1005 81 328 -187 601 -604 614 -63 2 -144 0 -180 -5z'/%3e%3c/g%3e%3c/svg%3e");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}*/

/*.custom-checkbox.checked .custom-checkbox-text {
	font-weight: 500;
}*/

/* Focus */

/*.custom-checkbox__input:focus + .custom-checkbox__box,
.custom-checkbox__input:checked:focus + .custom-checkbox__box {
	box-shadow: 0 0 0 2px #1a7aea, 0 0 0 4px #F3AC04;
}*/

/* Disabled */

/*
.custom-checkbox__input:disabled + .custom-checkbox__box,
.custom-checkbox__input:checked:disabled + .custom-checkbox__box {
	opacity: 0.6;
}
*/

/* n Select */

/* n Lazy Loading */

/* n Spollers */

/* n Pop up */

/* n Classes */

a {
  color: inherit;
  transition: color 0.3s;
  text-decoration: none;
}

/* Header */

/* Page - Home */

.header {
  position: relative;
}

.header .n_container {
  align-items: center;
  height: 50px;
  display: flex;
  max-width: 1920px;
  padding-left: 0;
}

.header__blockLogo {
  height: 50px;
  margin-right: auto;
  width: 138px;
}

.header__btn {
  align-items: center;
  background-color: #EE2B4F;
  border: 1px solid #EE2B4F;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  height: 26.78px;
  font-size: 12px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-transform: uppercase;
  width: 79.91px;
}

.home-banner-block {
  background: linear-gradient(90deg, #3832C6 0%, #2A2798 100%);
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home-banner-block .n_container {
  max-width: 1855px;
  padding-bottom: 141px;
  padding-top: 85px;
  position: relative;
  z-index: 2;
}

.home-banner-block-bg {
  bottom: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.home-banner-block__content {
  background: linear-gradient(90deg, #5588FF 0%, #0F4DDF 100%);
  box-shadow: 0 3.77px 23.57px 0 rgba(33, 35, 113, 0.6);
  border-radius: 53.73px;
  display: table;
  margin-left: auto;
  padding: 6.6px;
  width: 100%;
}

.home-banner-block__block {
  border-radius: inherit;
  position: relative;
}

.home-banner-block__block-header {
  background-color: #fff;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 19px 8px 20px;
}

.home-banner-block__block-header h1 {
  color: #2E299F;
  font-weight: 900;
  margin: 0;
  position: relative;
  text-align: center;
  z-index: 3;
}

.home-banner-block__block-header h1 span {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.home-banner-block__block-header h1 span:nth-child(1) {
  font-size: 58.38px;
  line-height: 49.5px;
  margin-bottom: 9px;
}

.home-banner-block__block-header h1 span:nth-child(2) {
  font-size: 46.88px;
  line-height: 39.75px;
  margin-bottom: 10px;
}

.home-banner-block__block-header h1 span:nth-child(3) {
  font-size: 44.77px;
  line-height: 37.96px;
}

.home-banner-block__block-footer {
  background-color: #0F4DDF;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-bottom: 33px;
  position: relative;
}

.home-banner-block__block-footer::before {
  background: linear-gradient(90deg, #5588FF 0%, #0F4DDF 100%);
  content: "";
  display: block;
  height: 6.6px;
  margin-bottom: 29px;
  width: 100%;
}

.home-banner-block__block-footer p {
  font-size: 62.4px;
  font-weight: 900;
  line-height: 52.91px;
  margin: 0 !important;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.home-banner-block__block-footer p span {
  display: table;
  font-size: 77.5px;
  line-height: 65.71px;
  margin: 13px auto 0;
}

.home-banner-block__block-illustration {
  height: auto;
  position: absolute;
  pointer-events: none;
  z-index: 2;
}

.home-banner-block__block-illustration.left-top {
  left: 0;
  max-width: 15%;
  transform: translate(-25%, -35%);
  top: 0;
}

.home-banner-block__block-illustration.right-top {
  max-width: 5%;
  right: 0;
  top: 8%;
}

.home-banner-block__block-illustration.left-top-two {
  left: 0;
  max-width: 10%;
  transform: translate(155%, -95%);
  top: 0;
}

.home-banner-block__block-illustration.right-top-two {
  position: absolute;
  right: 0;
  top: 0;
}

.home-banner-block__block-illustration.right-top-two.desktop {
  max-width: 9%;
  transform: translate(-56%, -76%);
}

.home-banner-block__block-illustration.right-top-two.mobile {
  transform: translate(-25px, -26px);
}

.home-banner-block-footer-coins {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  transform: translateY(38%);
  width: 100%;
  z-index: 5;
}

.home-banner-block__wrap-button {
  background: linear-gradient(180deg, #0F4DDF 0%, #4378F5 100%);
  box-shadow: 0px 3.77px 23.57px 0px rgba(33, 35, 113, 0.6);
  border-radius: 53.73px;
  bottom: 58px;
  height: 105px;
  right: 16.4%;
  padding: 6.6px;
  position: absolute;
  width: 448px;
  z-index: 50;
}

.home-banner-block__wrap-button a {
  align-items: center;
  background-color: #fff;
  border-radius: inherit;
  color: #0F4DDF;
  display: flex;
  justify-content: center;
  height: 100%;
  font-size: 58.38px;
  line-height: 49.5px;
  font-weight: 900;
  padding-left: 8px;
  padding-right: 8px;
  text-transform: uppercase;
  width: 100%;
}

.wrap-block-of-steps,
.block-of-steps {
  border: 3px solid #B1B3FF;
}

.wrap-block-of-steps {
  background-color: #fff;
  padding: 5px;
}

.block-of-steps {
  padding-bottom: 20px;
  padding-top: 22px;
}

.block-of-steps__item {
  position: relative;
}

.block-of-steps__item::after {
  position: absolute;
}

.block-of-steps__item p {
  color: #212371;
  font-family: "Outfit", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.block-of-steps .circle {
  align-items: center;
  background-color: #212371;
  border: 3px solid #B1B3FF;
  border-radius: 50px;
  display: flex;
  height: 76px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 76px;
}

.block-of-steps .circle p {
  color: #fff;
  font-size: 55px;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

.block-of-steps__wrap-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

/*
.default-page {

   .wrapper {
      overflow: visible;
   }

   main.main {
      font-family: 'Poppins', sans-serif;
      padding-bottom: 80px;
      padding-top: 80px;
      position: relative;

      @include media-max-575 {
         padding-bottom: 28px;
         padding-top: 23px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
         position: relative;
         z-index: 2;
      }

      h1 {
         font-size: 49.2px;
         font-weight: 700;
         line-height: 65.32px;
         letter-spacing: 1.4760488271713257px;
         margin: 0 0 27px;

         @include media-max-575 {
            font-size: 25px;
            line-height: 30px;
            letter-spacing: 1.409999966621399px;
            margin-bottom: 12px;
         }
      }

      p {
         font-size: 15px;
         font-weight: 400;
         line-height: 24px;
         letter-spacing: 0.44999998807907104px;
         margin: 0;

         @include media-max-575 {
            line-height: 22.5px;
            letter-spacing: 0.47999998927116394px;
         }
      }

      .coins {

         &-header {

            &.left {

               &.desktop {
                  left: -25px;
               }
               &.mobile {

               }
            }
            &.right {

               &.desktop {
                  right: 0;
                  top: -9px;
               }
               &.mobile {

               }
            }
         }
         &-bottom {
            bottom: 0;
            position: absolute;

            &.left {

               &.desktop {
                  left: 0;
                  transform: translateY(32%);
               }
            }
            &.right {
               transform: translateY(33%);

               &.desktop {
                  right: 0;
               }
            }

            &.desktop {

               &.left {
                  max-width: 24%;
               }
               &.right {
                  max-width: 21%;
               }

               @include media-max-575 {
                  display: none;
               }
            }
            &.mobile {
               right: 0;
               bottom: -30px;

               @include media-min-576 {
                  display: none;
               }
            }
         }
      }
   }
}
*/

/* Footer */

.footer {
  padding-bottom: 115px;
  padding-top: 14px;
}

.footer__menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 0;
  padding-left: 0;
}

.footer__menu ul li {
  font-size: 14px;
  line-height: 20px;
  list-style: none;
  margin: 5.5px 11px;
  text-align: center;
}

.footer__social {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 23px;
  margin-top: 62px;
}

.footer__social li {
  border-radius: 50%;
  list-style: none;
  height: 38px;
  margin: 6px;
  overflow: hidden;
  padding: 1px;
  width: 38px;
}

.footer__social li:first-child {
  margin-left: 0;
}

.footer__social li:last-child {
  margin-right: 0;
}

.footer__social li a img {
  max-height: 100%;
  max-width: 100%;
}

.footer__icons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.footer__icons img {
  margin-left: 23px;
  margin-right: 23px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.footer__icons img:first-child {
  margin-left: 0;
}

.footer__icons img:last-child {
  margin-right: 0;
}

.footer p {
  color: #B4BBFF;
  font-size: 14px;
  line-height: 20px;
  margin: 0 0 10px !important;
  text-align: center;
}

.footer p.footer__text-under-copyright {
  font-size: 11px;
  line-height: 15.71px;
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1180px;
}

/* Plyr video player */

@media screen and (min-width: 576px) {
  .home-banner-block__block-illustration.right-top-two.mobile {
    display: none;
  }

  .footer p.footer__text-under-copyright br {
    display: none;
  }
}

@media screen and (min-width: 721px) {
  .block-of-steps__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1133px;
  }

  .block-of-steps__item {
    padding-left: 40px;
    padding-right: 40px;
    width: 33.3333%;
  }

  .block-of-steps__item:not(:last-child)::after {
    content: url("../images/svg/block-of-steps-arrow.svg");
  }

  .block-of-steps__item::after {
    right: 0;
    height: 18px;
    transform: translate(50%, -70px);
    top: 119px;
    width: 136px;
  }
}

@media screen and (min-width: 768px) {
  .home-banner-block__content {
    max-width: 100%;
    width: 670px;
  }
}

@media screen and (min-width: 992px) {
  body::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #366EF1;
  }

  .home-banner-block-bg.mobile {
    display: none;
  }

  .home-banner-block__content {
    width: 970px;
    max-width: 58%;
  }
}

@media (max-width: 1736px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: calc(22px + 36.38 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(1) {
    line-height: calc(19px + 30.5 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: calc(18px + 28.88 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    line-height: calc(15px + 24.75 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: calc(16px + 28.77 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    line-height: calc(14px + 23.96 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    font-size: calc(23px + 39.4 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    line-height: calc(20px + 32.91 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    font-size: calc(28.6px + 48.9 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    line-height: calc(28.6px + 37.11 * (100vw - 320px) / 1416);
  }

  .home-banner-block__wrap-button {
    height: calc(50px + 55 * (100vw - 320px) / 1416);
  }

  .home-banner-block__wrap-button {
    width: calc(160px + 288 * (100vw - 320px) / 1416);
  }

  .home-banner-block__wrap-button a {
    font-size: calc(12px + 46.38 * (100vw - 320px) / 1416);
  }

  .home-banner-block__wrap-button a {
    line-height: calc(21px + 28.5 * (100vw - 320px) / 1416);
  }
}

@media screen and (max-width: 1600.98px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: 53px;
    line-height: 42px;
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: 42px;
    line-height: 34px;
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: 42px;
    line-height: 35px;
  }

  .home-banner-block__block-footer p {
    font-size: 58px;
    line-height: 48px;
  }

  .home-banner-block__block-footer p span {
    font-size: 72px;
    line-height: 60px;
  }
}

@media screen and (max-width: 1600.98px) and (max-width: 1736px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: calc(22px + 31 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(1) {
    line-height: calc(19px + 23 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: calc(18px + 24 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    line-height: calc(15px + 19 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: calc(16px + 26 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    line-height: calc(14px + 21 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    font-size: calc(23px + 35 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    line-height: calc(20px + 28 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    font-size: calc(28.6px + 43.4 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    line-height: calc(28.6px + 31.4 * (100vw - 320px) / 1416);
  }
}

@media screen and (max-width: 1440.98px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: 54px;
    line-height: 45px;
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: 42px;
    line-height: 35px;
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: 40px;
    line-height: 33px;
  }

  .home-banner-block__block-footer p {
    font-size: 55px;
    line-height: 45px;
  }

  .home-banner-block__block-footer p span {
    font-size: 68px;
    line-height: 56px;
  }
}

@media screen and (max-width: 1440.98px) and (max-width: 1736px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: calc(22px + 32 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(1) {
    line-height: calc(19px + 26 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: calc(18px + 24 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    line-height: calc(15px + 20 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: calc(16px + 24 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    line-height: calc(14px + 19 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    font-size: calc(23px + 32 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    line-height: calc(20px + 25 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    font-size: calc(28.6px + 39.4 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    line-height: calc(28.6px + 27.4 * (100vw - 320px) / 1416);
  }
}

@media screen and (max-width: 1366.98px) {
  .home-banner-block .n_container {
    padding-bottom: 120px;
  }
}

@media screen and (max-width: 1200.98px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: 48px;
    line-height: 39px;
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: 38px;
    line-height: 31px;
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: 35px;
    line-height: 28px;
  }

  .home-banner-block__block-footer p {
    font-size: 46px;
    line-height: 36px;
  }

  .home-banner-block__block-footer p span {
    font-size: 57px;
    line-height: 45px;
  }
}

@media screen and (max-width: 1200.98px) and (max-width: 1736px) {
  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: calc(22px + 26 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(1) {
    line-height: calc(19px + 20 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: calc(18px + 20 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    line-height: calc(15px + 16 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: calc(16px + 19 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    line-height: calc(14px + 14 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    font-size: calc(23px + 23 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p {
    line-height: calc(20px + 16 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    font-size: calc(28.6px + 28.4 * (100vw - 320px) / 1416);
  }

  .home-banner-block__block-footer p span {
    line-height: calc(28.6px + 16.4 * (100vw - 320px) / 1416);
  }
}

@media screen and (max-width: 1024.98px) {
  .home-banner-block .n_container {
    padding-top: 60px;
  }
}

@media screen and (max-width: 991.98px) {
  .home-banner-block .n_container {
    padding-bottom: 1600px;
  }

  .home-banner-block-bg.desktop {
    display: none;
  }

  .home-banner-block__content {
    margin-right: auto;
  }

  .home-banner-block__block-illustration.right-top {
    max-width: 8%;
  }

  .home-banner-block-footer-coins {
    display: none;
  }

  .home-banner-block__wrap-button {
    bottom: 0;
    right: 50%;
    transform: translate(50%, -10px);
    top: 100%;
  }
}

@media screen and (max-width: 991.98px) and (max-width: 1736px) {
  .home-banner-block .n_container {
    padding-bottom: calc(440px + 1160 * (100vw - 320px) / 1416);
  }
}

@media screen and (max-width: 767.98px) {
  .home-banner-block__content {
    max-width: 600px;
  }
}

@media screen and (max-width: 720.98px) {
  .n_container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .block-of-steps {
    padding-bottom: 20px;
    padding-top: 29px;
  }

  .block-of-steps__item {
    padding-bottom: 83px;
    padding-top: 82px;
  }

  .block-of-steps__item:first-child {
    padding-top: 0;
  }

  .block-of-steps__item:last-child {
    padding-bottom: 0;
  }

  .block-of-steps__item:not(:last-child)::after {
    content: url("../images/svg/block-of-steps-arrow-mobile.svg");
  }

  .block-of-steps__item::after {
    bottom: -50%;
    height: 100px;
    left: 50%;
    transform: translate(-50%, -89%);
    width: 18px;
  }

  .block-of-steps__item p {
    margin: 7px auto 0;
    max-width: 300px;
  }
}

@media screen and (max-width: 720.98px) and (max-width: 720.98px) {
  .block-of-steps__item:first-child::after {
    transform: translate(-50%, -48%);
  }
}

@media screen and (max-width: 575.98px) {
  body p:not(:last-child) {
    margin-bottom: 14px;
  }

  .home-banner-block .n_container {
    padding-bottom: 1600px;
    padding-top: 29px;
  }

  .home-banner-block__content {
    border-radius: 21px;
    max-width: 460px;
    padding: 3px;
  }

  .home-banner-block__block-header {
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    padding: 8px 6px 6px;
  }

  .home-banner-block__block-header h1 span:nth-child(1) {
    font-size: 22px;
    line-height: 19px;
    margin-bottom: 4px;
  }

  .home-banner-block__block-header h1 span:nth-child(2) {
    font-size: 18px;
    line-height: 15px;
    margin-bottom: 3px;
  }

  .home-banner-block__block-header h1 span:nth-child(3) {
    font-size: 16px;
    line-height: 14px;
  }

  .home-banner-block__block-footer {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-bottom: 16px;
  }

  .home-banner-block__block-footer::before {
    height: 2.59px;
    margin-bottom: 13px;
  }

  .home-banner-block__block-footer p {
    font-size: 23px;
    line-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .home-banner-block__block-footer p span {
    font-size: 28.6px;
    line-height: 24px;
    margin-top: 3px;
  }

  .home-banner-block__block-illustration.left-top {
    max-width: 69px;
    transform: translate(12px, -38px);
  }

  .home-banner-block__block-illustration.right-top {
    display: none;
  }

  .home-banner-block__block-illustration.left-top-two {
    display: none;
  }

  .home-banner-block__block-illustration.right-top-two.desktop {
    display: none;
  }

  .home-banner-block__wrap-button {
    height: 48.88px;
    padding: 3.07px;
    width: 208.56px;
  }

  .home-banner-block__wrap-button a {
    font-size: 27.18px;
    line-height: 23.05px;
    padding-top: 2px;
  }

  .footer__social {
    margin-top: 21px;
  }
}

@media screen and (max-width: 575.98px) and (max-width: 1736px) {
  .home-banner-block .n_container {
    padding-bottom: calc(345px + 1255 * (100vw - 320px) / 1416);
  }
}

@media screen and (max-width: 480.98px) {
  .home-banner-block .n_container {
    padding-bottom: 1200px;
  }
}

@media screen and (max-width: 480.98px) and (max-width: 1736px) {
  .home-banner-block .n_container {
    padding-bottom: calc(345px + 855 * (100vw - 320px) / 1416);
  }
}